<h1>Users#show</h1>

<%= @user.email %>
<% if not_friends? %>
<%= link_to "Add Friend", friendships_path(friend_id: @user), method: :post %>
<% end %>
<br>

<h2> Friends </h2>
<ul>
	<% @user.friends.each do |f| %>
	<li> 
		<%= link_to f.email, f %>
		<% if current_user == @user %>
		<%= link_to "Remove friend", friendship_path(id: f.id), method: :delete %>
		<% end %>
	</li>
	<% end %>
</ul>>

<h3> Received Requests </h3>
<ul>
	<% @user.requested_friendships.each do |f| %>
	<li> 
		<%= link_to f.email, users_path(f) %>
		<% if current_user == @user %>
		<%= link_to "Accept", friendship_path(id: f.id), method: "put" %>
		<%= link_to "Decline", friendship_path(id: f.id), method: :delete %>
		<% end %>

	</li>
	<% end %>
</ul>>

<h3> Sent Requests </h3>
<ul>
	<% @user.pending_friends.each do |f| %>
	<li> 
		<%= link_to f.email, f %>
	</li>
	<% end %>
</ul>>

<h4> Timeline </h4>
<% @user.posts.each do |p| %>
<p> 
		<%= link_to p.title, p %> <br>
		<%= p.preview %><br>

<% if p.user == current_user %>
	<%= link_to "Edit post", edit_post_path(p) %>
	<% end %>
	posted  <%= time_ago_in_words(p.time_posted) %> ago
	 </p>
<% end %>



