<h1> <%= @post.title %> </h1>
<%= profile_pic_for(@post.user) %>
<%= link_to(@post.user.name, @post.user) %>
<br>
<%= @post.body %>
<br>
<%= render "shared/edit_link", post: @post %>
<%= render "shared/like_dislike", post: @post %>
<%= render "shared/likes_comments", post: @post %>
<%= render "shared/comment_form", post: @post %>
