<nav>
	<%= link_to "All users", users_path %>
	<% if user_signed_in? %>
	Signed in as <%= link_to current_user.email, current_user %>. Not you?
	<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
	
	<% if current_user.requested_friendships.any? %>
	<%= link_to "You have #{current_user.requested_friendships.count} friend request(s)", current_user %>
	<% end %>
	
	<% else %>

	<%= link_to "Sign up", new_user_registration_path %> or
	<%= link_to "Sign in", new_user_session_path %>
	<% end %>
	
</nav>